@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

*{
    font-family: 'Poppins', sans-serif ;
}

body{
    background-color: rgb(33,37,41) !important;
}

h1{
    color: #fff;
}

p{
    color: #fff;
}

label{
    color: #fff 
}

/* NavBar */
.dropdown-menu {
    position: absolute;
    background-color: rgb(33,37,41) !important;
}

.dropdown-menu.show {
    display: block;
    background: none;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25;
    clear: both;
    font-weight: 400;
    color: rgba(255,255,255,.75) !important;
    /* text-align: center; */
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-size: 0.9rem;
}
/* Hidden stuffs */

.hidden{
    display: none !important;
}

/* Card hide overflow */

#card-description{
    display: block;
    width: 100%;
    overflow: hidden;
    height: 100px;
    text-overflow: ellipsis;
    margin: 0px 0px 5px 0px;
}

#card-author{
    margin-top: 15px;
}

/* Btn */

.btn-dark{
    border: 1px solid !important;
    transition: 0.3s ease !important;
}

.btn-dark:hover{
    border-color: rgb(33,37,41) !important;
}

/* Validation */
.is-invalid{
    color: #E85F5C;
}

.is-valid{
    color: #a0e85c;
}

.alert-warning{
    color: #E85F5C !important;
    background-color: transparent !important;
    border-radius: 10px;
}
/* Footer */

footer {
    /* background-color: orange; */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}