@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");
@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

*{
    font-family: var(--body-font);
}

:root {
    --body-color: #2c2d2a;
    --savanna-bg: #e9bf8b;
    --beach-bg: #e7dfcf;
    --glacier-bg: #b6d6c8;
    --coral-bg: #e86357;
    --arrow-fill: #333231;
    --body-font: "Montserrat", sans-serif;
    --italic-font: "EB Garamond", serif;
  }

  a{
    text-decoration: none !important;
    color: #fff !important;
    transition: all ease-in-out 0.2s;
  }

  i{
    color: #fff !important;
  }

  a:hover{
    color: rgb(180, 180, 180) !important;
  }

  li{
    list-style: none !important;
  }
body{
    background-color: rgb(33,37,41) !important;
}

.main-header {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 4px;
    font-weight: 600;
    transition-delay: 0.2s;
    color: #fff;
  }

.main-title {
    font-family: var(--italic-font);
    font-size: 5rem;
    font-weight: 400;
    margin-top: 10px;
    line-height: 1em;
    transition-delay: 0.3s;
    color: #fff;
  }


p{
    color: #fff;
}

label{
    color: #fff 
}

/* NavBar */


.dropdown-menu {
    position: absolute;
    background-color: rgb(33,37,41) !important;
}

.dropdown-menu.show {
    display: block;
    background: none;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25;
    clear: both;
    font-weight: 400;
    color: rgba(255,255,255,.75) !important;
    /* text-align: center; */
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-size: 0.9rem;
}

#right--navbar{
    flex-direction: row !important;
    justify-content: space-around !important;
}
/* Hidden stuffs */

.hidden{
    display: none !important;
}

/* Card hide overflow */

#card-description{
    display: block;
    width: 100%;
    overflow: hidden;
    height: 100px;
    text-overflow: ellipsis;
    margin: 0px 0px 5px 0px;
}

#card-author{
    margin-top: 15px;
}

/* Btn */

.btn-dark{
    border: 1px solid !important;
    transition: 0.3s ease !important;
}

.btn-dark:hover{
    border-color: rgb(33,37,41) !important;
}

/* Validation */
.is-invalid{
    color: #E85F5C;
}

.is-valid{
    color: #a0e85c;
}

.alert-warning{
    color: #E85F5C !important;
    background-color: transparent !important;
    border-radius: 10px;
}

/* Genres */

#genres{
  display: none;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 !important;
}

/* Footer */

footer {
    /* background-color: orange; */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}


/* Search */

.searchBox {
    position: relative;
}

.inputSearch {
    align-self: center;
    width: 40px;
    color: #333;
    outline: none;
    border-radius: 50px;
    transition: all .5s ease-in-out;
    padding: 0px 5px;
    border: 0;
    box-shadow: 0px 0px 8px #00000010;
}

  .searchBtn{
      background-color: #3f6cce;
      width: 50px;
      height: 50px;
      border: 0;
      font-size: 20px;
      font-weight: bold;
      outline: none;
      cursor: pointer;
      border-radius: 50%;
      position: absolute;
      right: 0px;
      color:#ffffff ;
    }

.searchBtn:focus ~ .inputSearch{
    width: 150px;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 1.5);
    background-color: #ffffff;
}

.inputSearch:focus{
    width: 150px;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 1.5);
    box-shadow: 0px 0px 30px #00000020;
}

#icon--search{
    font-family: FontAwesome, var(--body-font);
}

#detailSquare{
  background-color: #8b8b8b10;
  border-radius: 15px;
  padding: 10px;
}

@media screen and (min-width: 900px) {

    .searchBtn:focus ~ .inputSearch{
        width: 350px;
    }
    
    .inputSearch:focus{
        width: 350px;
    }

    #genres{
      display: flex;
    }

}




@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  font-family: "Roboto", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
i {
  margin-right: 10px;
}
/*----------bootstrap-navbar-css------------*/
.navbar-logo {
  padding: 15px;
  color: #fff;
}
.navbar-mainbg {
  background-color: #5161ce;
  padding: 0px;
}
#navbarSupportedContent {
  overflow: hidden;
  position: relative;
}
#navbarSupportedContent ul {
  padding: 0px;
  margin: 0px;
}
#navbarSupportedContent ul li a i {
  margin-right: 10px;
}
#navbarSupportedContent li {
  list-style-type: none;
  float: left;
}
#navbarSupportedContent ul li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-size: 15px;
  display: block;
  padding: 20px 20px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: relative;
}
#navbarSupportedContent > ul > li.active > a {
  color: #5161ce;
  background-color: transparent;
  transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
  content: "\f105";
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 14px;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  transition: 0.5s;
}
#navbarSupportedContent .active > a:not(:only-child):after {
  transform: rotate(90deg);
}
.hori-selector {
  display: inline-block;
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 10px;
}
.hori-selector .right,
.hori-selector .left {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #fff;
  bottom: 10px;
}
.hori-selector .right {
  right: -25px;
}
.hori-selector .left {
  left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #5161ce;
}
.hori-selector .right:before {
  bottom: 0;
  right: -25px;
}
.hori-selector .left:before {
  bottom: 0;
  left: -25px;
}

@media (min-width: 992px) {
  .navbar-expand-custom {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-custom .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-custom .navbar-toggler {
    display: none;
  }
  .navbar-expand-custom .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}

@media (max-width: 991px) {
  #navbarSupportedContent ul li a {
    padding: 12px 30px;
  }
  .hori-selector {
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .hori-selector .left,
  .hori-selector .right {
    right: 10px;
  }
  .hori-selector .left {
    top: -25px;
    left: auto;
  }
  .hori-selector .right {
    bottom: -25px;
  }
  .hori-selector .left:before {
    left: -25px;
    top: -25px;
  }
  .hori-selector .right:before {
    bottom: -25px;
    left: -25px;
  }
}
